<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<font th:text="${msg}" color="red"></font>
<form th:action="@{/admin/save}" method="post">
    用户名:<input type="text" name="username" /><span th:errors="${admin.username}"></span><br/>
    密码:<input type="text" name="password" /><span th:errors="${admin.password}"></span><br/>
    <input type="submit" value="确定"/>
</form>
</body>
</html>
